@import "src/theme/theme-variables";

/* placeholder for navbar */
.not-navbar {
  height: 62px;
  width: 100%;
  // opacity: 0;
  background-color: #f9f9f9;
}

.navbar {
  z-index: 10;
  position: fixed; /* Make it stick/fixed */
  background-color: #fff;
  top: 0; /* Stay on top */
  width: 100%; /* Full width */
  transition: top 0.3s;
}

.nav-link.dropdown-toggle {
  cursor: pointer;
}

/*interactive toggle bar*/

.navbar-toggler {
  border: 0px;
  height: 25px;
  padding: 0px;
  width: 20px;

  .toggle-bar {
    width: 20px;
    height: 25px;
    padding: 0px;
    transition: 0.4s ease-in;

    .bar {
      width: 20px;
      height: 1px;
      background-color: #4b4b4b;
      transition: 0.4s;
    }

    .bar2 {
      margin-top: 5px;
      margin-bottom: 5px;
    }

    .bar1 {
      margin-top: 6px;
    }
  }
  .change {
    transform: translateX(7px);
    .bar1 {
      transform: rotate(-225deg) translate(11px);
      margin-bottom: 1px;
    }
    .bar2 {
      width: 1px;
      opacity: 0;
    }
    .bar3 {
      transform: rotate(225deg) translate(11px);
    }
  }
}

.navbar-toggler:focus,
.btn:focus,
.p-2 a:focus {
  outline: none;
  box-shadow: none;
}

// interactive toolbar end

// menu
#menu {
  z-index: 10;
  transition: 0.7s ease-in-out;
  margin-top: 8px;
  background-color: #fff;
  border-radius: 15px;
  position: fixed;
  right: 10px;
  // border: 1px solid #f9f9f9;
  box-shadow: #f9f9f9 3px 0px 10px;
  padding: 5px 0px;
  a {
    padding: 20px 20px;
    margin: 20px;
  }
  .menu-item {
    text-align: center;
    padding: 5px 20px;
    transition: 0.6s;
    cursor: pointer;
  }
  .menu-item:hover {
    background-color: #f9f9f9;
  }
}

.hidden {
  right: -150px !important;
  opacity: 0;
}

.scrolltrack {
  position: fixed;
  z-index: 8;
  bottom: 0;
  background-color: #557a95;
  // width: 100px;
}
