<header>
  <nav class="navbar navbar-light" id="navbar">
    <!-- <a class="navbar-brand" href="#" translate>APP_NAME</a> -->
    <div class="flex" routerLink="/home" style="cursor: pointer">
      <div class="navbar-brand">
        <img src="assets/playfair.svg" class="img-fluid" style="width: 50px" alt="" />
      </div>
      <div>Muazzam</div>
    </div>

    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#collapsable-nav">
      <span id="menu-bars" class="container toggle-bar" (click)="menuExp()">
        <div id="" class="bar bar1"></div>
        <div id="" class="bar bar2"></div>
        <div id="" class="bar bar3"></div>
      </span>
    </button>
  </nav>
  <div class="not-navbar"></div>

  <section>
    <div id="menu" class="hidden">
      <a href="https://syed-muazzam.web.app/assets/Muazzam_Syed_Resume.pdf" target="_blank" rel="noopener noreferrer">
        Check out my full <button class="ml-1 btn btn-outline-primary">resume!</button>
      </a>
      <!-- <div class="menu-item" *ngFor="let item of menuList" (click)="hideMenu(0)">{{ item }}</div> -->
    </div>
  </section>
</header>

<section>
  <div class="line scrolltrack" [style.width]="scroll"></div>
</section>
