/*
 * Entry point of global application style.
 * Component-specific style should not go here and be included directly as part of the components.
 */

// Theme variables, must be included before the libraries to allow overriding defaults
@import "theme/theme-variables";

// 3rd party libraries
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";

// Theme customization
@import "theme/theme";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Playfair+Display:wght@400;500;700;800;900&display=swap");

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
  color: #4b4b4b;
  overflow-x: hidden;
}
.blue {
  color: #557a95;
}
.red {
  color: #ab2537fa;
}
.big {
  font-family: "Playfair Display", serif;
  // font-size: 55px;
  font-weight: 700;
  // line-height: 4rem;
}
.medium {
  // font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 35px;
}
.light {
  opacity: 0.6;
}
.small {
  font-size: 0.7rem;
}
a {
  color: #4b4b4b;
  padding: 1.5px;
}
a:hover {
  color: #ab2537fa;
  text-decoration: none;
  // transform: rotate(3Deg) scale(1.5);
}
.link {
  color: #ab2537fa;
  font-weight: bold;
}
.link:hover {
  color: #5b151efa;
}
.link-rotate,
.link {
  // color: #ab2537fa;
  transition: 0.4s;
}
.link-rotate:hover {
  transform: rotate(-3deg) scale(1.1);
}
.fancy {
  font-family: "Playfair Display", serif;
}
.flex {
  display: flex;
  align-items: center;
  // justify-content: center;
}
.flex-baseline {
  display: flex;
  align-items: baseline;
  // justify-content: ;
}
.line {
  background-color: #4b4b4b;
  height: 4px;
  border-radius: 2px;
}
img {
  filter: grayscale(100%);
  transition: 0.7s all;
}
img:hover {
  filter: none;
}
.container-fluid {
  padding: 0;
}

@media (min-width: 576px) {
  .big {
    font-size: 40px;
    line-height: 3rem;
  }
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
  .container {
    max-width: 725px;
    padding: 0;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 915px;
  }
  .big {
    font-size: 50px;
    line-height: 4rem;
  }
}
@media (max-width: 575px) {
  .block-sm {
    display: block;
  }
  .big {
    font-size: 35px;
    line-height: 2.5rem;
  }
}
