<div class="foot init" id="foot">
  <section style="position: relative">
    <div class="leftSec">
      <div class="flex">
        <div class="line line1"></div>
        <div class="mail small link-rotate">
          <a href="mailTo:{{ email }}">{{ email }}</a>
        </div>
        <div class="line line2"></div>
      </div>
    </div>
    <div class="rightSec">
      <div class="line line1"></div>
      <div class="line line2"></div>
      <div style="margin: 15px 0">
        <div class="social link-rotate" *ngFor="let contact of contact">
          <a href="{{ contact.link }}" target="_blank"><i class="{{ contact.icon }}"></i></a>
        </div>
      </div>
      <div class="line line3"></div>
    </div>
  </section>
</div>
