.foot {
  transition: 0.6s ease-in-out;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 9;
  .leftSec {
    position: absolute;
    transform: rotate(90deg);
    bottom: 200px;
    left: -150px;
    .line1 {
      width: 100px;
    }
    .line2 {
      width: 155px;
    }
    .mail {
      // font-size: .7rem;
      margin: 0 15px;
    }
  }
  .rightSec {
    position: absolute;
    // transform: rotate(90Deg);
    bottom: -5px;
    right: 50px;

    .line {
      width: 4px;
      margin: 3px auto;
    }
    .line1 {
      // height: 4px;
      // width: 4px;
    }
    .line2 {
      height: 50px;
    }
    .line3 {
      height: 100px;
    }
  }
}
.init {
  bottom: -100px;
  opacity: 0;
}

@media (max-width: 850px) {
  .leftSec,
  .rightSec {
    display: none;
  }
}
