<div class="root">
  <div class="container-fluid">
    <!-- hero section -->
    <div class="flex hero container init" id="hero">
      <div class="">
        <p class="red hi">hi, my name is</p>
        <p class="big name">Syed Muazzam</p>
        <p class="big light jist">I like to design and build things for web</p>
        <div class="scroll" (click)="scroll(about)">
          <!-- <div class="small">learn more</div> -->
          <div class="arrow light"></div>
        </div>
      </div>
    </div>
    <!-- hero section END -->

    <!-- About me -->
    <div class="flex about fadein animated" #about>
      <div class="container">
        <div class="flex-baseline">
          <span class="medium fancy">About Me</span>
          <div class="line line1"></div>
          <div class="line line2"></div>
        </div>
        <div class="flex block-sm" style="flex-direction: row-reverse">
          <div class="ml-4">
            <img src="assets/dp.png" alt="" class="d-none d-md-block" />
          </div>
          <div class="pt-3">
            <p>
              Hi, my name is Muazzam. I'm a web developer from Kashmir with a passion for design. I'm currently a final
              year student at
              <a href="https://jaipur.manipal.edu/" target="_blank" class="link">Manipal University Jaipur</a> pursuing
              BTech in
              <a
                href="https://jaipur.manipal.edu/muj/academics/institution-list/foe/programs/program-list/computer-communication.html"
                target="_blank"
                class="link"
                >Computer and Communication Engineering</a
              >. I aspire a career which will allow me to craft elegant software and captivating experiences.
            </p>
            <p>When not on my laptop, I like to sketch, go into the woods, watch anime and pet cats.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="flex container what-i-do">
      <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6"></div>
      </div>
    </div>

    <!-- Experience -->
    <div class="container skills">
      <div class="flex-baseline mb-2">
        <span class="medium fancy">Experience</span>
        <div class="line line1"></div>
        <div class="line line2"></div>
      </div>
      <p>
        Working in the field of design and development, one has to keep pace with this ever evolving industry.
        <br />
        There is a lot more for me to learn and I am looking forward to it.
      </p>
      <br />
      <div class="row">
        <div class="col-md-7 mb-4 mb-md-0 brdr-l">
          <div class="mb-3">Technologies I've worked with:</div>
          <div class="row" style="width: 100% !important">
            <div class="col-xl-2 col-3" *ngFor="let el of skills">
              <img class="img-responsive img-fluid p-2" src="{{ el.img }}" alt="{{ el.alt }}" />
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="mb-3">Design tools I love to use:</div>
          <div class="row" style="width: 100% !important">
            <div class="col-4 col-xl-3" *ngFor="let el of designTools">
              <img class="img-responsive img-fluid p-2" src="{{ el.img }}" alt="{{ el.alt }}" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="what-i-do flex" style="height: 50vh; justify-content: center">
      <app-loader [isLoading]="isLoading" [message]="message"></app-loader>
    </div>
  </div>
</div>
