.root {
  background-color: #f9f9f9;
  // height: 350vh;
}
.hero {
  height: calc(100vh - 65px);
  min-height: 350px;
  position: relative;
  * {
    transition: 0.6s ease-in-out;
  }

  .scroll {
    left: 50%;
    position: absolute;
    bottom: 20px;
    text-align: center;
    cursor: pointer;
    .arrow {
      margin: 0 auto;
      height: 20px;
      width: 20px;
      border: 4px #4b4b4b solid;
      border-left: none;
      border-top: none;
      transform: rotate(45deg) translate(-7px, -5px);
    }
    .arrow:hover {
      opacity: 1;
    }
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  visibility: visible;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.init {
  .hi {
    opacity: 0;
  }
  .name {
    transform: translateX(200px);
    opacity: 0;
  }
  .jist {
    transform: translateX(-200px);
    opacity: 0;
  }
  .scroll {
    bottom: -70px;
  }
}

.about {
  height: 60vh;
  min-height: 350px;
  background-color: #edf0f2;
  .line1 {
    margin-left: 10px;
    width: 30%;
  }
  .line2 {
    margin-left: 5px;
    width: 10px;
  }
  img {
    height: 200px;
    width: auto;
  }
}

.skills {
  padding-top: 130px;
  padding-bottom: 130px;
  .brdr-l {
    border-right: 3px solid #edf0f2;
  }
  .col-3 {
    margin-top: 8px;
  }
  .line1 {
    margin-left: 10px;
    width: 30%;
  }
  .line2 {
    margin-left: 5px;
    width: 10px;
  }
}

@media (max-width: 575px) {
  .about {
    // height: 60vh;
    min-height: 600px;
  }
  .skills {
    .brdr-l {
      border-right: none;
    }
  }
}
